<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="/template::head">

</head>
<body class="hold-transition skin-green sidebar-mini" ng-app="pls">
<div class="wrapper">
    <navigation th:include="/template::header">

    </navigation>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                基础管理<span th:text="${navigation}"></span>
                <small>供应商管理</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">供应商</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div th:include="__${navigation}__">

            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <navigation th:include="/template::footer">

    </navigation>


</div>
<!-- ./wrapper -->






<navigation th:include="/template::js">

</navigation>
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/plugins/fastclick/fastclick.js}"></script>
<script th:inline="javascript" th:include="/manage/production_section::scripts">
</script>
</body>
</html>