<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="/template::head">

</head>
<body class="hold-transition skin-green sidebar-mini" ng-app="pls">
<div class="wrapper">
    <navigation th:include="/template::header">

    </navigation>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                基础管理
                <small>供应商管理</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">供应商</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Your Page Content Here -->
            <div class="row" ng-controller="menuController">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">查询</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body"><div class="form-group">
                            <label for="idSearch_description" class="col-xs-1 control-label" th:text="#{menu.description}">description</label>
                            <div class="col-xs-2">
                                <input type="text" id="idSearch_description" ng-model="search.description" class="form-control"  placeholder="description"/>
                            </div>
                        </div>
                            <div class="form-group">
                                <label for="idSearch_icon" class="col-xs-1 control-label" th:text="#{menu.icon}">icon</label>
                                <div class="col-xs-2">
                                    <input type="text" id="idSearch_icon" ng-model="search.icon" class="form-control"  placeholder="icon"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="idSearch_name" class="col-xs-1 control-label" th:text="#{menu.name}">name</label>
                                <div class="col-xs-2">
                                    <input type="text" id="idSearch_name" ng-model="search.name" class="form-control"  placeholder="name"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="idSearch_url" class="col-xs-1 control-label" th:text="#{menu.url}">url</label>
                                <div class="col-xs-2">
                                    <input type="text" id="idSearch_url" ng-model="search.url" class="form-control"  placeholder="url"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="idSearch_parent_id" class="col-xs-1 control-label" th:text="#{menu.parent_id}">parent_id</label>
                                <div class="col-xs-2">
                                    <input type="text" id="idSearch_parent_id" ng-model="search.parent_id" class="form-control"  placeholder="parent_id"/>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button class="btn btn-primary"
                                    th:text="#{action.search}"
                                    ng-click="doSearch($event)">Search</button>
                            <button class="btn btn-danger"
                                    th:text="#{action.clear}"
                                    ng-click="resetSearch($event)">Clear</button>
                            <button class="btn btn-info"
                                    th:text="#{action.add}"
                                    data-toggle="modal" data-target="#edtmenuModal">
                                Add
                            </button>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">查询结果</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="tableResult" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th th:text="#{menu.description}" class="sorting"></th><th th:text="#{menu.icon}" class="sorting"></th><th th:text="#{menu.name}" class="sorting"></th><th th:text="#{menu.url}" class="sorting"></th><th th:text="#{menu.parent_id}" class="sorting"></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in menu_items">
                                    <td>{{item.description}}</td><td>{{item.icon}}</td><td>{{item.name}}</td><td>{{item.url}}</td><td>{{item.parent_id}}</td>
                                    <td>
                                        <button class="btn btn-danger"
                                                th:text="#{action.delete}"
                                                ng-click="removeItem($index,item,$event);"></button>
                                    </td>
                                </tr>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>
                                        <input type="text" class="form-control" ng-model="current.description" placeholder="description"/>
                                    </th><th>
                                    <input type="text" class="form-control" ng-model="current.icon" placeholder="icon"/>
                                </th><th>
                                    <input type="text" class="form-control" ng-model="current.name" placeholder="name"/>
                                </th><th>
                                    <input type="text" class="form-control" ng-model="current.url" placeholder="url"/>
                                </th><th>
                                    <input type="text" class="form-control" ng-model="current.parent_id" placeholder="parent_id"/>
                                </th>
                                    <th>
                                        <button class="btn btn-danger"
                                                th:text="#{action.add}"
                                                ng-click="saveItem($event);">Add</button>
                                    </th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- popup begin -->
                <div class="modal fade" id="edtmenuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add/Edit</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="id_description" class="col-xs-1 control-label" th:text="#{menu.description}">description</label>
                                    <div class="col-xs-2">
                                        <input type="text" id="id_description" ng-model="current.description" class="form-control"  placeholder="description"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_icon" class="col-xs-1 control-label" th:text="#{menu.icon}">icon</label>
                                    <div class="col-xs-2">
                                        <input type="text" id="id_icon" ng-model="current.icon" class="form-control"  placeholder="icon"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_name" class="col-xs-1 control-label" th:text="#{menu.name}">name</label>
                                    <div class="col-xs-2">
                                        <input type="text" id="id_name" ng-model="current.name" class="form-control"  placeholder="name"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_url" class="col-xs-1 control-label" th:text="#{menu.url}">url</label>
                                    <div class="col-xs-2">
                                        <input type="text" id="id_url" ng-model="current.url" class="form-control"  placeholder="url"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_parent_id" class="col-xs-1 control-label" th:text="#{menu.parent_id}">parent_id</label>
                                    <div class="col-xs-2">
                                        <input type="text" id="id_parent_id" ng-model="current.parent_id" class="form-control"  placeholder="parent_id"/>
                                    </div>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" ng-click="saveItem($event);">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- popup end -->

            </div>
            <!-- /.row -->


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <navigation th:include="/template::footer">

    </navigation>


</div>
<!-- ./wrapper -->






<navigation th:include="/template::js">

</navigation>
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/plugins/fastclick/fastclick.js}"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    angular.module("pls").controller("menuController",function($scope,httpService,Message){
        $scope.menu_items = [];
        $scope.current ={id:0};
        $scope.search ={};
        $scope.loadItemss = function(){
            httpService("/base/menu/list",{},function(json){
                $scope.menu_items = json;
            })
        }
        $scope.init = function(){
            $scope.loadItemss();
        }
        $scope.saveItem=function(event){
            httpService("/base/menu/add",$scope.current,function(json){
                $scope.menu_items = json;
                angular.element("#edtmenuModal").modal('hide');
            })
        }
        $scope.resetSearch = function(event){
            $scope.search ={};
        }
        $scope.doSearch = function(event){

            httpService("/base/menu/search/",{},function(json){
                $scope.menu_items = json;
            });
        }
        $scope.removeItem= function(index,item,event){
            httpService("/base/menu/remove/"+item.id,{},function(json){
                $scope.menu_items = json;
            });
        }
        $scope.init();

    });
    /*]]>*/
</script>
</body>
</html>