<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="/template::head">

</head>
<body class="hold-transition skin-green sidebar-mini" ng-app="pls">
<div class="wrapper">
    <navigation th:include="/template::header">

    </navigation>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                基础管理
                <small>物料编码管理</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">物料编码</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->
            <div class="row" ng-controller="skuController">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">查询</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row form-horizontal">
                            <div class="form-group">
                                <label for="idSku" class="col-xs-1 control-label" th:text="#{material.sku}">SKU</label>
                                <div class="col-xs-2">
                                    <input type="text" id="idSku" ng-model="search.sku" class="form-control"  placeholder="SKU"/>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="idName" class="col-xs-1 control-label" th:text="#{material.name}">Name</label>
                                <div class="col-xs-2">
                                    <input type="text" id="idName" ng-model="search.name" class="form-control"  placeholder="Name"/>
                                </div>

                            </div>


                            </div>


                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button class="btn btn-primary"
                                    th:text="#{action.search}"
                                    ng-click="doSearch($event)">Search</button>
                            <button class="btn btn-danger"
                                    th:text="#{action.clear}"
                                    ng-click="resetSearch($event)">Clear</button>
                            <button class="btn btn-info"
                                    th:text="#{action.add}"
                                    data-toggle="modal" data-target="#edtMaterialModel">
                                Add
                            </button>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">查询结果</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="tableResult" class="table table-bordered table-hover">
                                <thead>
                                <tr>

                                    <th th:text="#{material.sku}" class="sorting"></th>
                                    <th th:text="#{material.name}" class="sorting-asc"></th>
                                    <th th:text="#{material.description}" class="sorting-desc"></th>
                                    <th th:text="#{material.specific}"></th>
                                    <th th:text="#{material.length}"></th>
                                    <th th:text="#{material.width}"></th>
                                    <th th:text="#{material.height}"></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="m in materials">

                                    <td>{{m.sku}}</td>
                                    <td>{{m.name}}
                                    </td>
                                    <td>{{m.description}}</td>
                                    <td>{{m.specific}}</td>
                                    <td>{{m.length}}</td>
                                    <td>{{m.width}}</td>
                                    <td>{{m.height}}</td>
                                    <td>
                                        <button class="btn btn-danger"
                                                th:text="#{action.delete}"
                                                ng-click="removeMaterial($index,m,$event);"></button>
                                    </td>
                                </tr>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>
                                        <input type="text" class="form-control" ng-model="material.sku" placeholder="SKU"/>
                                    </th>
                                    <th>
                                        <input type="text" class="form-control" ng-model="material.name" placeholder="name"/>
                                    </th>

                                    <th>
                                        <input type="text" class="form-control" ng-model="material.description" placeholder="description"/>
                                    </th>
                                    <th>
                                        <input type="text" class="form-control" ng-model="material.specific" placeholder="specific"/>
                                    </th>
                                    <th>
                                        <input type="text" class="form-control" ng-model="material.length" placeholder="length"/>
                                    </th>
                                    <th>
                                        <input type="text" class="form-control" ng-model="material.width" placeholder="width"/>
                                    </th>
                                    <th>
                                        <input type="text" class="form-control" ng-model="material.height" placeholder="length"/>
                                    </th>
                                    <th>
                                        <button class="btn btn-danger"
                                                th:text="#{action.add}"
                                                ng-click="saveMaterial($event);">Add</button>
                                    </th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- popup begin -->
                <div class="modal fade" id="edtMaterialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add/Edit Material</h4>
                            </div>
                            <div class="modal-body">


                                    <div class="form-group">
                                        <label for="idSku1" class="control-label" th:text="#{material.sku}">SKU</label>
                                        <input type="text" id="idSku1" class="form-control" ng-model="material.sku" placeholder="SKU"/>

                                    </div>
                                    <div class="form-group">
                                        <label for="idName1" class="control-label" th:text="#{material.name}">Name</label>
                                        <input type="text" id="idName1" class="form-control"  ng-model="material.name"  placeholder="Name"/>

                                    </div>
                                    <div class="form-group">
                                        <label for="idSpecific" class="control-label" th:text="#{material.specific}">Specific</label>
                                        <input type="text" id="idSpecific" class="form-control"  ng-model="material.specific"  placeholder="Name"/>

                                    </div>
                                    <div class="form-group">
                                        <label for="idDescription1" class="control-label" th:text="#{material.description}">Description</label>
                                        <input type="text" id="idDescription1" class="form-control" ng-model="material.description" placeholder="Name"/>

                                    </div>
                                    <div class="form-group">
                                        <label for="idUnit" class="control-label" th:text="#{material.unit}">Unit</label>
                                        <input type="text" id="idUnit" class="form-control" ng-model="material.unit" placeholder="Name"/>

                                    </div>
                                    <div class="form-group">
                                        <label for="idLength1" class="control-label" th:text="#{material.length}">Length</label>
                                        <input type="text" id="idLength1" class="form-control" ng-model="material.length"  placeholder="Name"/>

                                    </div>


                                    <div class="form-group">
                                        <label for="idWidth1" class="control-label" th:text="#{material.width}">Width</label>
                                        <input type="text" id="idWidth1" class="form-control" ng-model="material.width" placeholder="Name"/>

                                    </div>
                                    <div class="form-group">
                                        <label for="idHeight" class="control-label" th:text="#{material.height}">Height</label>
                                        <input type="text" id="idHeight" class="form-control" ng-model="material.height" placeholder="Name"/>

                                    </div>
                                    <div class="form-group">
                                        <label for="idNote" class="control-label" th:text="#{material.note}">Note</label>
                                        <Textarea  id="idNote" class="form-control" ng-model="material.note" placeholder="Name"/>

                                    </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" ng-click="saveMaterial($event);">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- popup end -->

            </div>
            <!-- /.row -->



        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <navigation th:include="/template::footer">

    </navigation>


</div>
<!-- ./wrapper -->






<navigation th:include="/template::js">

</navigation>
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/plugins/fastclick/fastclick.js}"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    angular.module("pls").controller("skuController",function($scope,httpService,Message){

        $scope.title = [[#{app.title}]];
        $scope.materials = [];
        $scope.material ={id:0};
        $scope.search ={};
        $scope.loadMaterials = function(){
            httpService("/base/material/list",{},function(json){
                $scope.materials = json;
            })
        }
        $scope.init = function(){
            $scope.loadMaterials();
        }
        $scope.saveMaterial=function(event){
            httpService("/base/material/add",$scope.material,function(json){
                $scope.materials = json;
                angular.element("#edtMaterialModal").modal('hide');
            })
        }
        $scope.resetSearch = function(event){
            $scope.search ={};
        }
        $scope.doSearch = function(event){
            $scope.search.sku = $scope.search.sku || '';
            $scope.search.name = $scope.search.name || '';
            httpService("/base/material/search/"+$scope.search.sku+"/"+$scope.search.name,{},function(json){
                $scope.materials = json;
            });
        }
        $scope.removeMaterial= function(index,material,event){
            httpService("/base/material/remove/"+material.id,{},function(json){
               $scope.materials = json;
            });
        }
        $scope.init();

    });
    /*]]>*/
</script>
</body>
</html>