<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="template::head">

</head>
<body class="hold-transition skin-green sidebar-mini" ng-app="pls">
<div class="wrapper">
    <navigation th:include="template::header">

    </navigation>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                基础管理
                <small>物料编码管理</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">物料编码</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->
            <div class="row" ng-controller="production_planController">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">查询</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class='row'><div class='col-md-3'><div class="form-group">
                                <label for="idSearch_deliveryDate" class="control-label" th:text="#{production_plan.deliveryDate}">deliveryDate</label>
                                <input type="text" id="idSearch_deliveryDate" ng-model="search.deliveryDate" class="form-control"  placeholder="deliveryDate"/>
                            </div>
                                <div class="form-group">
                                    <label for="idSearch_lineNo" class="control-label" th:text="#{production_plan.lineNo}">lineNo</label>
                                    <input type="text" id="idSearch_lineNo" ng-model="search.lineNo" class="form-control"  placeholder="lineNo"/>
                                </div>
                            </div><div class='col-md-3'><div class="form-group">
                                <label for="idSearch_num" class="control-label" th:text="#{production_plan.num}">num</label>
                                <input type="text" id="idSearch_num" ng-model="search.num" class="form-control"  placeholder="num"/>
                            </div>
                                <div class="form-group">
                                    <label for="idSearch_orderNo" class="control-label" th:text="#{production_plan.orderNo}">orderNo</label>
                                    <input type="text" id="idSearch_orderNo" ng-model="search.orderNo" class="form-control"  placeholder="orderNo"/>
                                </div>
                            </div><div class='col-md-3'><div class="form-group">
                                <label for="idSearch_serialNo" class="control-label" th:text="#{production_plan.serialNo}">serialNo</label>
                                <input type="text" id="idSearch_serialNo" ng-model="search.serialNo" class="form-control"  placeholder="serialNo"/>
                            </div>
                                <div class="form-group">
                                    <label for="idSearch_productionId" class="control-label" th:text="#{production_plan.productionId}">productionId</label>
                                    <input type="text" id="idSearch_productionId" ng-model="search.productionId" class="form-control"  placeholder="productionId"/>
                                </div>
                            </div><div class='col-md-3'><div class="form-group">
                                <label for="idSearch_planNo" class="control-label" th:text="#{production_plan.planNo}">planNo</label>
                                <input type="text" id="idSearch_planNo" ng-model="search.planNo" class="form-control"  placeholder="planNo"/>
                            </div>
                            </div></div>

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button class="btn btn-primary"
                                    th:text="#{action.search}"
                                    ng-click="doSearch($event)">Search</button>
                            <button class="btn btn-danger"
                                    th:text="#{action.clear}"
                                    ng-click="resetSearch($event)">Clear</button>
                            <button class="btn btn-info"
                                    th:text="#{action.add}"
                                    data-toggle="modal" data-target="#edtproduction_planModal">
                                Add
                            </button>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">查询结果</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="tableResult" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th th:text="#{production_plan.deliveryDate}" class="sorting"></th><th th:text="#{production_plan.lineNo}" class="sorting"></th><th th:text="#{production_plan.num}" class="sorting"></th><th th:text="#{production_plan.orderNo}" class="sorting"></th><th th:text="#{production_plan.serialNo}" class="sorting"></th><th th:text="#{production_plan.productionId}" class="sorting"></th><th th:text="#{production_plan.planNo}" class="sorting"></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in production_plan_items">
                                    <td>{{item.deliveryDate | date}}</td>
                                    <td>{{item.lineNo}}</td>
                                    <td>{{item.num}}</td>
                                    <td>{{item.orderNo}}</td>
                                    <td>{{item.serialNo}}</td>
                                    <td>{{item.production.name}}</td>
                                    <td>{{item.planNo}}</td>
                                    <td>
                                        <button class="btn btn-danger"
                                                th:text="#{action.delete}"
                                                ng-click="removeItem($index,item,$event);"></button>
                                    </td>
                                </tr>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>
                                        <input type="text" class="form-control" ng-model="current.deliveryDate" placeholder="deliveryDate"/>
                                    </th><th>
                                    <input type="text" class="form-control" ng-model="current.lineNo" placeholder="lineNo"/>
                                </th><th>
                                    <input type="text" class="form-control" ng-model="current.num" placeholder="num"/>
                                </th><th>
                                    <input type="text" class="form-control" ng-model="current.orderNo" placeholder="orderNo"/>
                                </th><th>
                                    <input type="text" class="form-control" ng-model="current.serialNo" placeholder="serialNo"/>
                                </th><th>
                                    <input type="text" class="form-control" ng-model="current.productionId" placeholder="productionId"/>
                                </th><th>
                                    <input type="text" class="form-control" ng-model="current.planNo" placeholder="planNo"/>
                                </th>
                                    <th>
                                        <button class="btn btn-danger"
                                                th:text="#{action.add}"
                                                ng-click="saveItem($event);">Add</button>
                                    </th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- popup begin -->
                <div class="modal fade" id="edtproduction_planModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add/Edit</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row form form-horizontal"><div class="form-group">
                                    <label for="id_deliveryDate" class="col-xs-3 control-label" th:text="#{production_plan.deliveryDate}">deliveryDate</label>
                                    <div class="col-xs-6">
                                        <input type="text" id="id_deliveryDate" ng-model="current.deliveryDate" class="form-control"  placeholder="deliveryDate"/>
                                    </div>
                                </div>
                                    <div class="form-group">
                                        <label for="id_lineNo" class="col-xs-3 control-label" th:text="#{production_plan.lineNo}">lineNo</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="id_lineNo" ng-model="current.lineNo" class="form-control"  placeholder="lineNo"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_num" class="col-xs-3 control-label" th:text="#{production_plan.num}">num</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="id_num" ng-model="current.num" class="form-control"  placeholder="num"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_orderNo" class="col-xs-3 control-label" th:text="#{production_plan.orderNo}">orderNo</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="id_orderNo" ng-model="current.orderNo" class="form-control"  placeholder="orderNo"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_serialNo" class="col-xs-3 control-label" th:text="#{production_plan.serialNo}">serialNo</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="id_serialNo" ng-model="current.serialNo" class="form-control"  placeholder="serialNo"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_productionId" class="col-xs-3 control-label" th:text="#{production_plan.productionId}">productionId</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="id_productionId" ng-model="current.productionId" class="form-control"  placeholder="productionId"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_planNo" class="col-xs-3 control-label" th:text="#{production_plan.planNo}">planNo</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="id_planNo" ng-model="current.planNo" class="form-control"  placeholder="planNo"/>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" ng-click="saveItem($event);">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- popup end -->

            </div>
            <!-- /.row -->


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <navigation th:include="template::footer">

    </navigation>


</div>
<!-- ./wrapper -->






<navigation th:include="template::js">

</navigation>

<script th:inline="javascript">

    /*<![CDATA[*/
    angular.module("pls").controller("production_planController",function($scope,httpService,Message){

        $scope.production_plan_items = [];
        $scope.current ={id:0};
        $scope.search ={};
        $scope.loadItems = function(){
            httpService("/plan/production/list",{},function(json){
                $scope.production_plan_items = json;
            })
        }
        $scope.init = function(){
            $scope.loadItems();
        }
        $scope.saveItem=function(event){
            $scope.current.production = {id:$scope.current.productionId};
            httpService("/plan/production/add",$scope.current,function(json){
                $scope.production_plan_items = json;
                angular.element("#edtproduction_planModal").modal('hide');
            })
        }
        $scope.resetSearch = function(event){
            $scope.search ={};
        }
        $scope.doSearch = function(event){

            httpService("/plan/production/search/",{},function(json){
                $scope.production_plan_items = json;
            });
        }
        $scope.removeItem= function(index,item,event){
            httpService("/plan/production/remove/"+item.id,{},function(json){
                $scope.production_plan_items = json;
            });
        }
        $scope.init();

    });
    /*]]>*/
</script>
</body>
</html>