<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="template::head">

</head>
<body class="hold-transition skin-green sidebar-mini" ng-app="pls">
<div class="wrapper">
    <navigation th:include="template::header">

    </navigation>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                工作列表
                <small>当前工作内容</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->
            <div class="row" ng-controller="DashboardController">
                <div class="col-md-3">
                    <a href="compose.html" class="btn btn-primary btn-block margin-bottom">{{title}}</a>

                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Events</h3>

                            <div class="box-tools">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body no-padding">
                            <ul class="nav nav-pills nav-stacked">
                                <li ng-class="{active:event.selected}" ng-repeat="event in events" ng-click="chooseEvent(event,$event)">
                                    <a href="#"><i class="fa fa-inbox"></i> {{event.description}}
                                    <span class="label label-primary pull-right" ng-click="removeEvent($index,$event);">Del</span></a>

                                </li>

                            </ul>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /. box -->
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Tags</h3>

                            <div class="box-tools">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body no-padding">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#"><i class="fa fa-circle-o text-red"></i> Important</a></li>
                                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> Promotions</a></li>
                                <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> Social</a></li>
                            </ul>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                    <div class="box box-solid">
                        <input ng-model="event.description" class="form-control" type="text" />
                        <Button class="button btn-primary" ng-click="addEvent($event)">Save</Button>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{current.description}}  -  Details</h3>

                            <div class="box-tools pull-right">
                                <div class="has-feedback">
                                    <input type="text" class="form-control input-sm" placeholder="Search Mail"/>
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <div class="mailbox-controls">
                                <!-- Check all button -->
                                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                                </div>
                                <!-- /.btn-group -->
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                                <div class="pull-right">
                                    1-50/200
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                                    </div>
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.pull-right -->
                            </div>
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped">
                                    <tbody>
                                    <tr ng-repeat="d in details">
                                        <td><input type="checkbox" /></td>
                                        <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                        <td class="mailbox-name"><a href="read-mail.html">{{d.userId}}</a></td>
                                        <td class="mailbox-subject">{{d.description}}
                                        </td>
                                        <td class="mailbox-attachment"></td>
                                        <td class="mailbox-date">
                                            <span class="label label-danger" ng-click="removeDetail($index,d,$event);">Del</span>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td><input type="checkbox" /></td>
                                        <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                        <td class="mailbox-name">
                                            <select ng-model="detail.userId">
                                                <option value="1">Tom</option>
                                                <option value="2">Jerry</option>
                                            </select>
                                        </td>
                                        <td class="mailbox-subject">
                                            <input type="text" ng-model ="detail.description" class="form-control"/>
                                        </td>
                                        <td class="mailbox-attachment"></td>
                                        <td class="mailbox-date">
                                            <button class="button btn-primary" ng-click="addDetail($event);">Add</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- /.table -->
                            </div>
                            <!-- /.mail-box-messages -->
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer no-padding">
                            <div class="mailbox-controls">
                                <!-- Check all button -->
                                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                                </div>
                                <!-- /.btn-group -->
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                                <div class="pull-right">
                                    1-50/200
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                                    </div>
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.pull-right -->
                            </div>
                        </div>
                    </div>
                    <!-- /. box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->



        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <navigation th:include="template::footer">

    </navigation>


</div>
<!-- ./wrapper -->

<navigation th:include="template::js">

</navigation>
<script th:inline="javascript">
    /*<![CDATA[*/
    angular.module("pls").controller("DashboardController",function($scope,httpService,Message){

        $scope.title = [[#{app.title}]];
        $scope.event = {id:0,description:''};
        $scope.current = {};
        $scope.detail = {id:0,description:'',userId:0,eventId:0};
        $scope.events = [];
        $scope.addEvent = function(event){
            httpService("/event/add",$scope.event,function(json){
                $scope.events = json;
                $scope.event = {id:0,description:''};
            })
        }
        $scope.loadEvents = function(){
            httpService("/event/list",{},function(json){
                $scope.events = json;
            })
        }
        $scope.init = function(){
            $scope.loadEvents();
        }
        $scope.chooseEvent = function(item,event){
            $scope.events.map(function(i){
                i.selected = false;
            })
            item.selected = true;
            $scope.current = item;
            $scope.loadDetails(item);

        }
        $scope.loadDetails = function(item){
            httpService("/event/details/"+item.id,{},function(json){
                $scope.details = json;
            });
        }
        $scope.addDetail = function(event){
            var p = $scope.detail;
            p.eventId = $scope.current.id;
            httpService("/event/addDetail",p,function(json){
                $scope.details = json;
                $scope.detail = {id:0,description:'',userId:0,eventId:0};
            })
        }
        $scope.removeEvent = function(index,event){
            event.stopPropagation();
            var id = $scope.events[index].id;
            httpService("/event/remove/"+id,{},function(json){
                $scope.events = json;
            })
        }
        $scope.removeDetail = function(index,detail,event){
            event.stopPropagation();
            httpService("/event/removeDetail/"+detail.id,{},function(json){
                $scope.details = json;
            })

        }
        $scope.init();
    });
    /*]]>*/
</script>
</body>
</html>